<!-- task-form.component.html -->
<!-- Container for the form section -->
<div class="form-container">
  <h1>{{formtitle}}</h1>
  <!-- Update task form -->
  <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">

    <!-- Label and input for updating the task title -->
    <label for="title">Title</label>
    <input type="text" id="title" [(ngModel)]="newTask.title" name="title">
    <!-- Validation Message for Title -->
    <div class="validation-message" *ngIf="showTitleWarning">
      {{validatemsg}}
    </div>
    <!-- Label and textarea for updating the task description -->
    <label for="description">Description</label>
    <textarea id="description" [(ngModel)]="newTask.description" name="description"></textarea>

    <!-- Button to submit the updated task information -->
    <button type="submit">{{btntitle}}</button>

  </form>
</div>
